<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h3>Sales</h3>
                
                <div style="display: block">
                    <canvas 
                      baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      chartType="doughnut">
                    </canvas>
                  </div>


            </div>
        </div>
    </div>

    
</div>