
.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor {
    cursor: pointer;
}


#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border-radius: 100%;
    width: 30px;
}